.DS_Store
/iso/*
!/iso/README.md
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
/output-hyperv-iso/
*.box
*.iso
/packer_cache/
variables-global.json
var_scratch.json
/Template-08R2/
/Template-12R2/
/Template-16/
build.ps1
/scripts/Get-DeployScripts.ps1
vsphere-2008r2s.json
vsphere-2012r2s.json
vsphere-2016s.json